@font-face {
  font-family: fwoooshregular;
  src: url('../fonts/fwooosh2-webfont.eot');
  src: url('../fonts/fwooosh2-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fwooosh2-webfont.woff') format('woff'),
       url('../fonts/fwooosh2-webfont.ttf') format('truetype'),
       url('../fonts/fwooosh2-webfont.svg#fwoooshregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media all and (max-height: 900px) {
  body {
    font-size: 75%;
  }
}

body {
	background-color: #000000;
  color: #ffffff;
  text-align: center;
}

a {
  color: #ffffff;
}

.question {
	width: auto;
	margin: 0px auto;
  font-size: 4em;
}

.questionmark {
  margin: 0%;
  font-size: 9em;
}

@media all and (max-height: 600px) {
  .questionmark {
    font-size: 5em;
  }
}

.links {
    font-size: 3em;
}

@media all and (max-height: 600px) {
  .links {
    font-size: 2em;
  }
}

.link {
    font-family: fwoooshregular;
    width: 1em;
    display: inline-block;
}

.soundcloud, .twitter {
  -webkit-transition: color 0.25s ease;
  -moz-transition:    color 0.25s ease;
  -ms-transition:     color 0.25s ease;
  -o-transition:      color 0.25s ease;
}

.soundcloud {
  text-decoration: none;
  border: 0px none;
  color: #fc3908;
}
.soundcloud:hover,.soundcloud:focus {
  color: #cc2e06;
}

.twitter {
  text-decoration: none;
  border: 0px none;
  color: #159aea;
}
.twitter:hover,.twitter:focus {
  color: #1287ce;
}
.soundcloud:active {
  color: #ba2803;
}
.twitter:active {
  color: #0e7bbb;
}